*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0em;
    padding: 0em;
    display: flex;
    flex-direction: column;
    background-color: #e6e6ff
}

.main {
    border-style: solid;
    border-radius: 0em;
    border-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0em 10em;
    padding: 0em;
    min-width: 500px;
    background: white;
}

.navbar {
    border-style: solid;
    border-radius: 0em;
    border-color: transparent;
    width: 100%;
    height: auto;
    padding: 1em;
    padding-top: 6em;
    margin: 0em;
}

.big-line {
    border-style: solid;
    background-color: navy;
    padding: 1em;
    margin: 0em;
    width: auto;
}

.small-line {
    border-style: solid;
    background-color: navy;
    padding: .3em;
    margin: 0em;
    width: 20%;
}

.bottom {
    border-style: solid;
    border-radius: 0em;
    border-color: transparent;
    width: 100%;
    height: auto;
    padding: 1em;
    margin: 0em;
}

.links {
    border-style: solid;
    border-color: red;
    margin: 0em;
    padding: 0em;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.link-box {
    padding: .5em;
    margin: .5em;
    transition: transform .2s;
}

.link-box:hover {
    transform: scale(1.2);
}

.chunk {
    border-style: solid;
    border-radius: 0em;
    border-color: transparent;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: 1em;
    margin: 1em;
}

.content {
    border-style: solid;
    border-radius: 0em;
    border-color: transparent;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0em;
    margin: 0em;
}

.card {
    border-style: solid;
    border-radius: 0em;
    border-color: transparent;
    width: auto;
    max-width: 60%;
    min-width: 40%;
    height: auto;
    margin: 0em;
    padding: 0em;
    display: flex;
    flex-direction: column;
}

.card-text {
    border-style: solid;
    border-radius: 0em;
    border-color: transparent;
    width: auto;
    max-width: auto;
    height: auto;
    margin: 0em;
    padding: 1em;
    display: flex;
    flex-direction: column;
}

.card-image {
    border-style: solid;
    border-radius: 0em;
    border-color: transparent;
    width: auto;
    max-width: auto;
    height: auto;
    max-height: 50em;
    margin: 0em;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: transform .2s;
}

.card-image:hover {
    transform: scale(1.05);
}

.heading {
    width: auto;
    height: auto;
    margin: 0em;
    padding: 1em;
}

.title {
    font-size: 5em;
    margin: 0em;
    width: auto;
}

.image-box {
    border-style: solid;
    border-color: transparent;
    width: 100%;
    height: auto;
    padding: 0em;
    margin: 0em;
}

.tall-image-box {
    border-style: solid;
    border-color: transparent;
    max-height: 40em;
    height: 100%;
    width: auto;
    padding: 0em;
    margin: 0em;
}
